.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../../img/bg2.jpg) center (center/cover) no-repeat;
    &__descr{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
        margin-top: 80px;
        transform: translateX(-100%);
        opacity: 0;
        transition: all 1s ease 0s;
    }
    .error{
        border: 1px solid red;
    }
    label.error{
        color:#ffffff;
        border:none;
        text-align: center;
        margin-bottom: 15px;
    }
    .title_left{
        text-align: left;
        font-size: 28px;
        color:#ffffff;
    }
    .anim{
        transform: translateX(0);
        opacity: 1;
        color: #ffffff;
    }
}

@media(max-width: 767px){
    .consultation{
        padding: 70px 0 62px 0;
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__descr{
            font-size: 16px;
            text-align: left;
            margin-top: 40px;
        }
        .title_left{
            text-align: center;
            font-size: 28px;
        }
    }
}
@media(max-width: 575px){
    .consultation{
        padding: 50px 0 42px 0;
        &__descr{
            margin-top: 25px;
            text-align: center;
        }
        .title_left{
            font-size: 18px;
        }
        
    }
}